{{!-- import styled from 'styled-components';  --}}
{{!-- import styles from './{{ pascalCase name  }}.style'; --}}
{{!-- import type { Props } from './types';  --}}

class {{ pascalCase name 
}} extends PureComponent { 
  static defaultProps = {}; 
   render() { 
    return (
      <div>{{ pascalCase name  }}</div>
    ); 
  } 
} 
  
export { {{ pascalCase name  }} };
